<section class="card mt-4 container">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores aliquid ex suscipit rem unde quasi vel
            modi ipsa facere.</p>
    </div>
</section>