<div class="jumbotron mt-4">
    <h1 class="display-4">Feno Keep</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime impedit, aut molestias ipsum eius
        cumque?</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aliquid nulla fuga aspernatur suscipit expedita.
        Est commodi sequi vero iusto?
    </p>
    <a href="www.faztwe.com" class="btn btn-primary">FaztWeb</a>
</div>