@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap");

*,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s;
}
body {
  background-color: rgb(255, 255, 255);
}
/* General */
input[type="text"]:focus,
textarea:focus {
  outline: none;
}

/* Login */
.container-login {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}
.login-1 {
  display: flex;
  justify-content: center;
}
.text-login {
  color: #1a2aba;
  font-size: 1.5vw;
  margin-top: 10vw;
}
.inputs-form {
  margin-top: 3vw;
  margin-bottom: 1vw;
}
.inputs-form input {
  border: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #c4c4c4;
  font-size: 1.7vw;
  margin-bottom: 2vw;
  padding-bottom: 0.5vw;
  width: 120%;
}
.inputs-form input::placeholder {
  color: rgb(161, 160, 160);
  font-size: 1.4vw;
  font-weight: lighter;
}
.inputs-form input:focus {
  outline: none;
}
.inputs-form input:-webkit-autofill,
.inputs-form input:-webkit-autofill:hover,
.inputs-form input:-webkit-autofill:focus,
.inputs-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-login button {
  background-color: #1a2aba;
  border: 2px solid #1a2aba;
  border-radius: 5px;
  color: white;
  font-size: 1.8vw;
  padding: 0.3vw 1vw;
  width: 100%;
}
.form-login button:hover {
  background-color: #1221a8;
  border: 2px solid #1221a8;
  transform: scale(1.1);
}
.login-2 {
  background-image: url("background.png");
  background-size: 100%;
}
.youHavent {
  margin-top: 1vw;
  text-align: center;
}
.youHavent span {
  color: #1a2aba;
  text-align: center;
}

/* Nav */
nav {
  background-color: #ffffff;
  border-bottom: 1px solid #a3a3a3;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  padding: 0.3vw 3vw 0.3vw;
}
nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  margin-left: 1vw;
}
.container-nav {
  display: flex;
  align-items: center;
  width: 70%;
}
.nav-titulo {
  align-items: center;
  display: flex;
  justify-content: baseline;
  font-weight: lighter;
  font-size: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 17vw;
}
.nav-titulo img {
  width: 15%;
}
.nav-titulo span {
  font-weight: 400;
  color: #5f6368;
  margin-left: 0.6vw;
}
nav i {
  color: #5f6368;
  margin-right: 2vw;
  font-size: 5vw;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 1vw;
}
/* Header notas */
.container-header-notas {
  color: white;
  font-size: 1.7vw;
  margin: 0.5vw auto 0vw;
  padding: 1vw 2vw;
  width: 50%;
}
.container-header-notas input[type="text"],
.container-header-notas textarea {
  background-color: rgb(255, 255, 255);
  border: 2px solid white;
  color: black;
  font-size: 1.5vw;
  font-family: "Noto sans JP";
  padding: 0.4vw 1.2vw;
  padding-left: 1vw;
  width: 95%;
}
.container-header-notas textarea {
  font-size: 1.2vw;
  color: #5f6368;
}
.container-header-notas input[type="text"]:focus {
  outline: none;
}
.container-button {
  width: 100%;
}
.add-note {
  background-color: rgb(255, 255, 255);
  width: 95%;
  border: 2px solid white;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.057), 0 0px 7.2px rgba(0, 0, 0, 0.075),
    0 0px 13.6px rgba(0, 0, 0, 0.081), 0 0px 24.3px rgba(0, 0, 0, 0.08),
    0 0px 45.5px rgba(0, 0, 0, 0.076), 0 0px 109px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin: 1vw auto;
}
.add-note input::placeholder {
  font-size: 1.2vw;
}
#form-add-button {
  color: black;
  text-align: right;
}
.add-button {
  background-color: #ffbb00;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 0.5vw 1vw;
  width: 40%;
}
.add-button:hover {
  background-color: #ffc72c;
}
.close-form {
  background-color: #e00303;
  color: white;
  width: 25%;
}
.close-form:hover {
  background-color: #be0303;
}
/* Page notes */
.section-notes {
  background-color: white;
  padding: 0.5vw 2vw;
}
/* Buscador */
.container-header-buscador {
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.7vw;
  margin: 0vw auto 0vw;
  width: 100%;
}
.container-header-buscador input[type="text"] {
  background-color: #f1f3f4;
  border: 2px solid #f1f3f4;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  font-size: 1.7vw;
  padding: 0.3vw 2vw 0.3vw;
  margin: auto;
  width: 100%;
}
.container-header-buscador input[type="text"]::placeholder {
  color: rgb(0, 0, 0);
  font-weight: lighter;
}
.container-header-buscador input[type="text"]:focus {
  outline: none;
}
/* Container notes */
.container-section-notes {
  display: grid;
  grid-template-columns: 20% 80%;
}
/* Notes */
.notes {
  column-count: 4;
  column-gap: 1vw;
  column-fill: auto;
  margin: 1vw auto 0vw auto;
  padding-bottom: 3vw;
  width: 100%;
}
.note {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  break-inside: avoid;
  color: black;
  margin-bottom: 1vw;
  page-break-inside: avoid;
  padding: 0.5vw 1vw;
}
.note h4 {
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note p {
  color: #3a3a3a;
  margin: 0vw 0 1vw;
}
/* Note edit */
.container-main-note-edit {
  display: none;
}
.note-edit {
  background-color: rgba(0, 0, 0, 0.623);
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 41.75vw;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 2vw;
  top: 0;
  width: 96vw;
}
.container-note-edit {
  background-color: white;
  border-radius: 5px;
  padding: 1vw 2vw;
  width: 40%;
}
.note-edit .title-edit {
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
  display: flex;
  font-size: 1.8vw;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  padding: 0.3vw 0.5vw;
  width: 100%;
}
.note-edit textarea {
  border: none;
  color: black;
  font-size: 1.5vw;
  height: 30vh;
  text-align: left;
  padding: 0.3vw 0.5vw 0.3vw 0.5vw;
  width: 100%;
}
#form-add-button-edit {
  text-align: center;
}
/* Circulos */
.container-options {
  background-color: #ffffff00;
  border: 2px solid #ffffff00;
  border-radius: 5px;
  color: white;
  font-size: 1.2vw;
  padding-bottom: 1vw;
  width: 100%;
}
.container-options:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.container-options i {
  color: rgb(68, 68, 68);
  font-size: 0.4vw;
}

.container-options-buttons {
  background-color: #ffffff;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  display: none;
  font-size: 1.3vw;
  position: absolute;
  padding: 0.5vw 1vw;
  width: 15vw;
}
.container-options-buttons button {
  border-radius: 5px;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  padding: 0.3vw 0.5vw;
  text-align: left;
  width: 100%;
}
.container-options-buttons .delete {
  background-color: black;
  border: 2px solid black;
  color: white;
}
.container-options-buttons .delete:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}
.container-options-buttons .edit {
  background-color: white;
  border: 2px solid black;
  color: black;
}
.container-options-buttons .edit:hover {
  background-color: black;
  color: white;
}
.container-options:hover + .container-options-buttons {
  display: inline;
}
.container-options-buttons:hover {
  display: inline;
}
