*,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s;
}
/* General */
input[type="text"]:focus,
textarea:focus {
  outline: none;
}
/* Nav */
nav {
  background-color: white;
  border-bottom: 2px solid #c63636;
  color: #c63636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-bottom: 0.5vw;
}
nav a {
  color: #c63636;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  margin-left: 1vw;
}
.nav-titulo {
  font-weight: lighter;
  font-size: 2.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
.nav-titulo span {
  font-weight: bold;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 1vw;
  padding-top: 1.6vw;
}
/* Login */
.container-login {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}
.login-1 {
  display: flex;
  justify-content: center;
}
.text-login {
  color: #1a2aba;
  font-size: 1.5vw;
  margin-top: 10vw;
}
.inputs-form {
  margin-top: 3vw;
  margin-bottom: 1vw;
}
.inputs-form input {
  border: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #c4c4c4;
  font-size: 1.7vw;
  margin-bottom: 2vw;
  padding-bottom: 0.5vw;
  width: 120%;
}
.inputs-form input::placeholder {
  color: rgb(161, 160, 160);
  font-size: 1.4vw;
  font-weight: lighter;
}
.inputs-form input:focus {
  outline: none;
}
.inputs-form input:-webkit-autofill,
.inputs-form input:-webkit-autofill:hover,
.inputs-form input:-webkit-autofill:focus,
.inputs-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-login button {
  background-color: #1a2aba;
  border: 2px solid #1a2aba;
  border-radius: 5px;
  color: white;
  font-size: 1.8vw;
  padding: 0.3vw 1vw;
  width: 100%;
}
.form-login button:hover {
  background-color: #1221a8;
  border: 2px solid #1221a8;
  transform: scale(1.1);
}
.login-2 {
  background-image: url("background.png");
  background-size: 100%;
}
.youHavent {
  margin-top: 1vw;
  text-align: center;
}
.youHavent span {
  color: #1a2aba;
  text-align: center;
}
.section-notes {
  padding: 0.5vw 2vw;
}
/* Notes */
.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1vw;
  margin: 2vw auto 0vw auto;
  width: 80%;
}
.note {
  border: 1px solid #cecece;
  border-radius: 7px;
  margin-bottom: 1vw;
  padding: 0.5vw 1vw;
}
.note h2 {
  color: #7c0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note p {
  margin: 1vw 0 1vw;
}

/* aside main */
.aside-main {
  background-color: #eceeff;
  border-left: 0.3vw solid #1221a8;
  border-top-left-radius: 10px;
  height: 90vh;
  position: absolute;
  top: 5vh;
  right: 0%;
  padding: 1vw 2vw;
  width: 25vw;
}
.aside-main h1 {
  font-size: 2.5vw;
  font-weight: lighter;
  text-align: center;
}
.aside-main label {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 1.5vw 0vw 0.7vw;
}
.aside-main form input,
.aside-main form textarea {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 0.5vw 1vw;
}
.input-note textarea {
  height: 30vh;
}
.aside-main form div {
  display: flex;
  flex-direction: column;
}
.aside-main form a {
  width: 100%;
}
.aside-main form a button {
  background-color: #1a2aba;
  border: 2px solid #1a2aba;
  border-radius: 5px;
  color: white;
  font-size: 1.2vw;
  margin-top: 1vw;
  text-align: center;
  padding: 0.3vw 1vw;
  width: 70%;
}
.aside-main form button:hover {
  background-color: #1221a8;
  border: 2px solid #1221a8;
  transform: scale(1.1);
}
.container-button {
  text-align: center;
  align-items: center;
}
/* Header notas */
.container-header-notas {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 1.7vw;
  margin: 0.5vw auto 0vw;
  width: 90%;
}
.container-header-notas input[type="text"] {
  background-color: #f0f2ff;
  border: 2px solid #f0f2ff;
  border-radius: 10px;
  font-size: 1.7vw;
  padding: 0;
  padding-left: 1vw;
  width: 40%;
}
.container-header-notas input[type="text"]:focus {
  outline: none;
}
/* Circulos */
.container-options {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: white;
  font-size: 1.2vw;
  width: 100%;
}
.container-options:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.container-options i {
  color: #ff7373;
  font-size: 0.7vw;
}
.circulo {
  background-color: #1a2aba;
  border-radius: 5px;
  height: 32px;
  width: 32px;
}
.container-options-buttons {
  background-color: #ffffff;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  display: none;
  font-size: 1.3vw;
  position: absolute;
  padding: 0.5vw 1vw;
  width: 15vw;
}
.container-options-buttons button {
  border-radius: 5px;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  padding: 0.3vw 0.5vw;
  text-align: left;
  width: 100%;
}
.container-options-buttons .delete {
  background-color: #ff4141;
  border: 2px solid #ff4141;
  color: white;
}
.container-options-buttons .delete:hover {
  background-color: white;
  border: 2px solid #ff4141;
  color: #ff4141;
}
.container-options-buttons .edit {
  background-color: white;
  border: 2px solid #ff4141;
  color: #ff4141;
}
.container-options-buttons .edit:hover {
  background-color: #ff4141;
  color: white;
}
.container-options:hover + .container-options-buttons {
  display: inline;
}
.container-options-buttons:hover {
  display: inline;
}
/* Section add button */
.add-section {
  position: absolute;
  bottom: 0%;
  padding: 1vw;
  text-align: center;
  width: 98vw;
}
.add-section-button {
  background-color: #ff4141;
  border: 2px solid #ff4141;
  border-radius: 5px;
  color: white;
  font-size: 1.7vw;
  padding: 0.5vw 1vw;
  width: 50%;
}
.add-section-button:hover {
  background-color: #f82424;
  border: 2px solid #f82424;
}
