{{#if user}}
<nav>
    <div class="container-nav">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="nav-titulo" href="/"> <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Google_Keep_icon_%282020%29.svg/1200px-Google_Keep_icon_%282020%29.svg.png"
                alt=""><span>Keep</span></span>
        <div class="container-header-buscador">
            <input type="text" class="buscador" placeholder="Buscar una nota...">
        </div>
    </div>
    <div class="nav-items">
        <a class="" href="/users/logout">Cerrar sesión</a>
    </div>
    </ul>
</nav>
{{/if}}