{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Notas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/notes/add">Añadir Nota</a>
                <a class="dropdown-item" href="/notes">Todas las notas</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/users/logout">Cerrar sesión</a>
        </li>

        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/users/signIn">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/users/signUp">Registrarse</a>
        </li>
        {{/if}}
    </ul>
</nav>
--}}
<nav>
    <span class="nav-titulo" href="/">Feno<span>Keep</span></span>
    <div class="nav-items">
        {{#if user}}
        <a class="" href="/users/logout">Cerrar sesión</a>
        {{else}}
        <a class="" href="/users/signIn">Entrar</a>
        <a class="" href="/users/signUp">Registrarse</a>
        {{/if}}
    </div>
    </ul>
</nav>