<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feno Keep</title>

    {{!-- BOOTSTRAP --}}
    {{!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"
        crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css">

    {{!-- ICONS --}}
    <link rel="stylesheet" href="    https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/2965/2965358.png" type="image/x-icon">
</head>

<body>
    {{>navigation}}
    <div class="container">
        {{>errors}}
        {{>messages}}

        <section class="section-notes">
            {{#if user}}
            <div class="container-header-notas">
                <form class="add-note" id='form-add' action="/notes/new-note" method="POST">

                    <div class="">
                        <input type="text" id="form-add-false" name='title' class="" autocomplete="off"
                            placeholder="Añade una nota...">
                    </div>

                    <div id="form-add-description" class="input-note">
                        <textarea name="description" placeholder="Contenido..."></textarea>
                    </div>

                    <div id="form-add-button" class="container-button">
                        <div class="categorySelector">
                            <input type="hidden" name="category" value="categoryWhite" id="category"
                                placeholder="category">
                            <div class="container-categories">
                                <div id="categoryBlue" class="categorySelectorCircle categoryBlue" arial-label="azul">
                                </div>
                                <div id="categoryRed" class="categorySelectorCircle categoryRed"></div>
                                <div id="categoryYellow" class="categorySelectorCircle categoryYellow"></div>
                                <div id="categoryBlack" class="categorySelectorCircle categoryBlack"></div>
                                <div id="categoryGreen" class="categorySelectorCircle categoryGreen"></div>
                                <div id="categoryWhite" class="categorySelectorCircle categoryWhite"></div>
                            </div>
                        </div>
                        <button type="submit" class="add-button">Añadir</button>
                        <input type="button" id="close-form" class="add-button close-form" value="X">
                    </div>

                </form>
            </div>
            {{/if}}
            {{{body}}}


        </section>

    </div>


    {{!-- bootstrap --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>


    <script>
        $('#form-add-description').hide();
        $('#form-add-button').hide();
        $('#form-add-note').hide();
        $('.categorySelector').hide();

        $('#form-add-false').on('click', function () {
            $('#form-add-button').show();
            $('#form-add-description').show();
            $('#form-add-note').attr("placeholder", "Titulo");
            $('.categorySelector').show();
        });

        $('.close-form').on('click', function () {
            $('#form-add-description').hide();
            $('#form-add-button').hide();
            $('#form-add-note').hide();
            $('#form-add-false').show();
            $('.categorySelector').hide();
        });

        /* Form to edit note */
        let id = undefined;
        $('.note-main').on('click', function () {
            id = this.id;
            $('#edit-note' + this.id).show();
            $('.categorySelector').show();

        })

        $('.close-form-edit').on('click', function () {
            $('#edit-note' + id).hide();
            $('.categorySelector').hide();
        })

        /* Edit search */
        $('.note-main-edit').on('click', function () {
            id = this.id;
            $('#edit-note' + this.id).show();
            $('.categorySelector').show();
        })

        $('.close-form-edit').on('click', function () {
            $('#edit-note' + id).hide();
            $('.categorySelector').hide();
        })

        /* Selector category */
        $('.categorySelectorCircle').on('click', function () {
            $('#category').val(this.id);
        });
        $('.categorySelectorCircleEdit').on('click', function () {
            $('.inputHideEdit').val(this.id);
        });

        /* Edit search */
        $('.asd').on('click', function () {
            id = this.id;
            $('#edit-note' + this.id).show();
            $('.categorySelector').show();
        })

    </script>

</body>

</html>